@page "/other"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<h2>
    @Localizer.Instance.Value
</h2>
<h3>
    @Localizer.Instance.TheFirstPage.Title
</h3>
<h4>
    @Localizer.Instance.TheFirstPage.Description
</h4>
<h5>
    @Localizer.Instance.TheSecondPage.Title["something"]
</h5>

<h2>
    @InstanceOfLocalizer.Value
</h2>
<h3>
    @InstanceOfLocalizer.TheFirstPage.Title
</h3>
<h4>
    @InstanceOfLocalizer.TheFirstPage.Description
</h4>
<h5>
    @InstanceOfLocalizer.TheSecondPage.Title["something"]
</h5>

<div @onclick="@GoToOther">Go home</div>

Welcome to your new app.

@code {
    private void GoToOther()
    {
        NavigationManager.NavigateTo("/");
    }
}