@namespace RepositoryFramework.Web.Components.Standard
@using System.Reflection;
@typeparam T
@typeparam TKey where TKey: notnull
@inherits RepositoryBase<T, TKey>

@if (_entity != null)
{
    <div class="row">
        <div class="col">
            <CascadingValue Name="@Constant.EditParametersBearer" Value="@_parametersBearer">
                <fieldset>
                    <legend>@Constant.Key</legend>
                    @if (!typeof(TKey).IsPrimitive())
                    {
                        <InternalEdit BaseProperty="@_parametersBearer.BaseTypeShowcase.Properties.First()" ForceNotEditable="@(!_isNew)" />
                    }
                    else
                    {
                        <InternalPrimitiveEdit BaseProperty="@_parametersBearer.BaseTypeShowcase.Properties.First()" ForceNotEditable="@(!_isNew)" />
                    }
                    @if (!_isRequestedToCreateNew)
                    {
                        <RadzenSwitch Value="@_isNew" ValueChanged="@ChangeKeyEditingStatus" />
                    }
                    @if (_isNew && !_isRequestedToCreateNew)
                    {
                        <RadzenAlert Variant="Variant.Filled" AlertStyle="AlertStyle.Warning" Size="AlertSize.Medium" Shade="Shade.Darker" AllowClose=false>
                            Warning!! Active it only if you want to copy an item.
                            If you active the key editing, and you change it, on save you will create a copy of this element with your new key.
                        </RadzenAlert>
                    }
                </fieldset>
                @foreach (var property in _parametersBearer.BaseTypeShowcase.Properties.Skip(1).Take(1))
                {
                    <fieldset>
                        <legend>@typeof(T).Name</legend>
                        <DefaultButton BaseProperty="@property" Class="text-center mb-2 w-100" />
                        <InternalEdit BaseProperty="@property" />
                    </fieldset>
                }
                @if (!DisableEdit || AllowDelete)
                {
                    <fieldset>
                        <legend>@Constant.Edit</legend>
                        @if (!DisableEdit)
                        {
                            <IconButton Icon="assignment_turned_in" Clicked="@(() => _ = SaveAsync(false))" />
                            <IconButton Class="btn btn-primary bg-primary btn" Icon="note_add"
                                Clicked="@(() => _ = SaveAsync(true))" />
                            @if (AllowDelete)
                            {
                                <IconButton Class="btn btn-primary bg-danger btn float-end" Icon="delete"
                                    Clicked="@(() => CheckIfYouWantToDelete())" />
                            }
                        }
                    </fieldset>
                }
            </CascadingValue>
        </div>
    </div>
}