@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Components.Authorization
@using RepositoryFramework
@using Rystem.Authentication.Social.TestApi.Models

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h2>
    @Localizer.Instance.Value
</h2>
<h3>
    @Localizer.Instance.TheFirstPage.Title
</h3>
<h4>
    @Localizer.Instance.TheFirstPage.Description
</h4>
<h5>
    @Localizer.Instance.TheSecondPage.Title["something"]
</h5>

<h2>
    @InstanceOfLocalizer.Value
</h2>
<h3>
    @InstanceOfLocalizer.TheFirstPage.Title
</h3>
<h4>
    @InstanceOfLocalizer.TheFirstPage.Description
</h4>
<h5>
    @InstanceOfLocalizer.TheSecondPage.Title["something"]
</h5>

@User
@if (Roles != null)
{
    @foreach (var role in Roles)
    {
        <p>@role.Name</p>
    }
}


@code {
    [Inject]
    public IRepository<SocialRole, string> Repository { get; set; }
    [CascadingParameter]
    public string User { get; set; }
    public List<SocialRole> Roles { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Roles = await Repository.ToListAsEntityAsync();
    }
}

