@namespace RepositoryFramework.Web.Components.Standard
@using System.Reflection;
@using System.Collections;
@using System.Text.Json;
@using System.Linq.Dynamic.Core;

@if (Entity != null)
{
    var counter = 0;
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    @if (_isPrimitive)
                    {
                        <th scope="col">#</th>
                    }
                    else
                    {
                        foreach (var property in TypeShowcase.FlatProperties)
                        {
                            <th scope="col">@property.NavigationPath</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Entity)
                {
                    var index = counter;
                    <tr>
                        @if (_isPrimitive)
                        {
                            <td>
                                <CopyButton GetValue="@(() => item?.ToString())" />
                            </td>
                        }
                        else
                        {

                            @foreach (var property in TypeShowcase.FlatProperties)
                            {
                                <td>
                                    @if (property.Type != PropertyType.Enumerable)
                                    {
                                        <CopyButton GetValue="@(() => property.Value(item, null))" />
                                    }
                                    else
                                    {
                                        <TextButton Class="bg-transparent text-dark p-0"
                                            Text="@item.EnumerableCountAsString(property, LocalizationHandler)"
                                            Click="@(() => _ = ShowMoreValuesAsync(item, property, index))" />
                                    }
                                </td>
                            }
                        }
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter]
    public IEnumerable? Entity { get; set; }
    [Inject]
    public ICopyService Copy { get; set; }
    [Inject]
    public DialogService DialogService { get; set; }
    private TypeShowcase TypeShowcase { get; set; } = null!;
    private bool _isPrimitive;
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        var enumerator = Entity?.GetEnumerator();
        if (enumerator?.MoveNext() == true)
        {
            var type = enumerator.Current.GetType();
            _isPrimitive = type.IsPrimitive();
            if (!_isPrimitive)
                TypeShowcase = type.ToShowcase();
        }
    }
    private async Task ShowMoreValuesAsync(object? entity, BaseProperty property, int nextIndex)
    {
        var retrieve = Try.WithDefaultOnCatch(() => property.Value(entity, null));
        if (retrieve.Exception == null && retrieve.Entity is IEnumerable enumerable && enumerable.GetEnumerator().MoveNext())
        {

            _ = await DialogService.OpenAsync<Visualizer>(property.Self.Name,
                new Dictionary<string, object>
                    {
                        { Constant.Entity, retrieve.Entity },
                    }, new DialogOptions
                    {
                        Width = Constant.DialogWidth
                    });
        }
    }
}