@namespace RepositoryFramework.Web.Components.Standard
@using System.Reflection;
@using System.Collections;
@using System.Text.Json;
@using System.Linq.Dynamic.Core;

@if (Entity != null)
{
    var counter = 0;
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    @if (_isPrimitive)
                    {
                        <th scope="col">#</th>
                    }
                    else
                    {
                        foreach (var property in TypeShowcase.FlatProperties)
                        {
                            <th scope="col">@property.NavigationPath</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Entity)
                {
                    var index = counter;
                    <tr>
                        @if (_isPrimitive)
                        {
                            <td>
                                <CopyButton GetValue="@(() => item?.ToString())" />
                            </td>
                        }
                        else
                        {

                            @foreach (var property in TypeShowcase.FlatProperties)
                            {
                                <td>
                                    @if (property.Type != PropertyType.Enumerable)
                                    {
                                        <CopyButton GetValue="@(() => property.Value(item, null))" />
                                    }
                                    else
                                    {
                                        <TextButton Class="bg-transparent text-dark p-0"
                                                    Text="@item.EnumerableCountAsString(property, LocalizationHandler)"
                                                    Click="@(() => _ = ShowMoreValuesAsync(item, property, index))" />
                                    }
                                </td>
                            }
                        }
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>
}

